/* @media only screen and (max-width: 768px) {
    body{
    margin: 0px;
    padding: 0px;

    background: linear-gradient(180deg, hsla(58, 98%, 83%, 1) 50%, hsla(0, 0%, 100%, 1) 50%);



    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-image: url(Untitled.png),linear-gradient(180deg, hsla(58, 98%, 83%, 1) 10%, hsla(0, 0%, 100%, 1) 90%);;
    background-repeat: no-repeat;
    background-position:
  center, Position for the existing image
  0% 0%; Position for the gradient
    background-position-y:-60px ;
    width:max-content;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100vw;
    margin: 0px;
    background-color: #2E5090;
}
.li{
    display: inline-block;
    font-size: 0.5em;
    margin: 0.5em;
  }
.title{
    display: flex;
    justify-content: space-evenly;
    color: #fefba9;
    margin: 0.4em;
}
.stanton{
    text-align: center;
    margin: 0px;
}
.high{
    text-align: center;
    margin: 0px;
}
.insititute{
    text-align: center;
    margin: 0px;
}
.of{
    text-align: center;
    margin: 0px;
}
.music{
    text-align: center;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #fefba9;
}
.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.box1{
    height: 50px;
    width: auto;
    background-color: #fefba9;
    margin: 0.5em;
}
.box2{
    height: 50em;
    width: 12em;
    background-color: #fefba9;
    border: solid 2px #305cde;
    box-shadow: 0px 0px 10px 0px #305cde;
    margin: 0.5em;
    border-radius: 0.2em;
}
.box3{
    height: 50em;
    width: 12em;
    background-color: #fefba9;
    border: solid 2px #305cde;
    box-shadow: 0px 0px 10px 0px #305cde;
    margin: 0.5em;
    border-radius: 0.2em;
}
}
.main{
    display: grid;
    grid-template-columns: 1fr 0.5fr; Two equal columns
    grid-template-rows: 1fr 0.5fr; Two equal rows
    gap: 10px; 
} */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-image: url(Untitled.png);
    background-color: #fefba9;
    background-repeat: no-repeat;
    background-position: center, 0% 0%;
    background-position-y: -20px ;
    width: 100%;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0px;
    background-color: #193A9F;

}

.li {
    display: inline-block;
    font-size: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    color: #fefba9;
}

.title {
    display: flex;
    justify-content: center;
    color: #fefba9;
    margin: 0.4em;
}

.stanton, .high, .insititute, .of, .music {
    text-align: center;
    margin: 0.5em;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #fefba9;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.box2, .box3 {
    height: 50em;
    width: auto;
    background-color: white;
    border: solid 1px #305cde;
    box-shadow: 0px 0px 10px 0px black;
    margin: 0.5em;
    border-radius: 0.2em;
}
.copyright{
    float: left;
    color: white;
    padding-top: 4em;
    width: 100%;
    padding-bottom: 10px;
    font-size: 0.6em;
    display: block;
    background: linear-gradient(180deg, #fefba9 1%, #193A9F 99%)
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}